* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    line-height: 1.4;
}

h1 {
    font-size: 2.027rem;
    font-weight: 400;
}

h2 {
    font-size: 1.802rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

.logo {
    width: 240px;
    padding: 1.5em 0 .5em 0;
}

header {
    background-color: #fff;
    text-align: center;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;
}

nav ul {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    font-weight: 500;
}

nav ul li a:link, 
nav ul li a:visited {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #000;
}

.sweetheart {
    padding: 2em 0;
}

.btn {
    background-color: #000;
    padding: 0.5em 1em;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}

.limited-edition {
    text-transform: uppercase;
    font-weight: 700;
    
}

.intro-images {
    display: grid;
    grid-template-columns: 3fr, 1fr;
    grid-template-rows: 3fr, 1fr;
    /* padding: 0 2em; */
    gap: 1.5em;
    

    grid-template-areas: 
    "block1 block1 block1"
    "block2 block3 block4"
    ;   
}

.intro-images .block1:nth-child(1) {
    grid-area: block1;
    border-radius: 8px;
}

.intro-images .block2:nth-child(2) {
    grid-area: block2;
    border-radius: 8px;
}

.intro-images .block3:nth-child(3) {
    grid-area: block3;
    border-radius: 8px;
}

.intro-images .block4:nth-child(4) {
    grid-area: block4;
    border-radius: 8px;
}


.behind-the-dough {
    text-align: center;
}

.behind-dough {
    background-color: #f8fafc;
    padding: 2em 0;

}

#reviews {
    background-color: #000;
    padding-top: 2em;
    padding-bottom: 2em;
    color: #fff;
}

.what-people-say {
    text-align: center;
}

.names {
    font-style: italic;
}

.quotes {
    gap: 3em;
}

blockquote {
    margin: 16px 0;
    padding: 1.5em 0;
    
}

.try-it {
    text-align: center;
    margin-bottom: 0;
}

.pics {
    display: grid;
    grid-template-columns: 2, 1fr;
    grid-template-rows: 2, 1fr;
    padding: 2em 0;
    gap: 1em;
    text-align: center;

}

.pics div {
    border-radius: 8px;
    background-color: #f8fafc;
}

.photo {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0 1em 0;
}

@media (min-width: 768px) { 

    .sweetheart,
    .intro-images {
        display: grid;
        grid-template-columns: 3fr, 1fr;
        gap: 1.5em;
        grid-template-areas: 
        "block1 block2"
        "block3 block4"; 
    }

}

@media  (min-width: 768px) {

    .dough-paragraph {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }

    .quotes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media (min-width: 960px) {
    .intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        
    }

    h1 {
        margin: 0;
    }


}








